<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.quamoco.adaptation.model.presentation.AdaptationModelModelWizardID"
            name="%_UI_AdaptationModelModelWizard_label"
            class="de.quamoco.adaptation.model.presentation.AdaptationModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdaptationModelModelFile.gif">
         <description>%_UI_AdaptationModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.quamoco.adaptation.model.presentation.AdaptationModelEditorID"
            name="%_UI_AdaptationModelEditor_label"
            icon="icons/full/obj16/AdaptationModelModelFile.gif"
            extensions="am"
            class="de.quamoco.adaptation.model.presentation.AdaptationModelEditor"
            contributorClass="de.quamoco.adaptation.model.presentation.AdaptationModelActionBarContributor">
      </editor>
   </extension>

</plugin>
