<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.quamoco.qm.presentation.QmEditorID"
            labelProvider="de.quamoco.qm.properties.PropertyLabelProvider">
               <propertyCategory category="sample"/>
      </propertyContributor>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="de.quamoco.qm.presentation.QmEditorID">
         <propertyTab
            category="sample"
               id="de.quamoco.qm.properties.PropertiesTab"
            label="Attributes"/>
         <propertyTab
               afterTab="de.quamoco.qm.properties.PropertiesTab"
               category="sample"
               id="de.quamoco.qm.properties.HierarchyTab"
               label="Hierarchy">
         </propertyTab>
         <propertyTab
               afterTab="de.quamoco.qm.properties.HierarchyTab"
               category="sample"
               id="de.quamoco.qm.properties.ReferencesTab"
               label="References">
         </propertyTab>
         <propertyTab
               afterTab="de.quamoco.qm.properties.ReferencesTab"
               category="sample"
               id="de.quamoco.qm.properties.AnnotationsTab"
               label="Annotations">
         </propertyTab>
         <propertyTab
               afterTab="de.quamoco.qm.properties.AnnotationsTab"
               category="sample"
               id="de.quamoco.qm.properties.AdvancedTab"
               label="Advanced">
         </propertyTab>
         <propertyTab
               category="sample"
               id="de.quamoco.qm.properties.RefinementTab"
               label="Refinement">
         </propertyTab>
         <propertyTab
               category="sample"
               id="de.quamoco.qm.properties.ImpactTab"
               label="Impact">
         </propertyTab>
         <propertyTab
               category="sample"
               id="de.quamoco.qm.properties.resultTab"
               label="Result">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="de.quamoco.qm.presentation.QmEditorID">
         <propertySection
               class="edu.tum.cs.emf.commons.sections.IdentifierPropertiesSection"
               id="de.quamoco.qm.properties.IdentifierPropertiesSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="org.eclipse.emf.ecore.EObject">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.IdentifierPropertiesSection"
               class="de.quamoco.qm.properties.NamedElementNameSection"
               id="de.quamoco.qm.properties.NamedElementNameSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.NamedElement">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.NamedElementNameSection"
               class="de.quamoco.qm.properties.NamedElementTitleSection"
               id="de.quamoco.qm.properties.NamedElementTitleSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.NamedElement">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.NamedElementTitleSection"
               class="de.quamoco.qm.properties.DescribedElementDescriptionSection"
               id="de.quamoco.qm.properties.DescribedElementDescriptionSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.DescribedElement">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.ImpactJustificationSection"
               class="de.quamoco.qm.properties.ImpactEffectSection"
               id="de.quamoco.qm.properties.ImpactEffectSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.Impact">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.ImpactTargetSection"
               class="de.quamoco.qm.properties.ImpactJustificationSection"
               id="de.quamoco.qm.properties.ImpactJustificationSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.Impact">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.DescribedElementDescriptionSection"
               class="de.quamoco.qm.properties.QIESLEvaluationSpecificationSection"
               id="de.quamoco.qm.properties.QIESLEvaluationSpecificationSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.QIESLEvaluation">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.TaggedElementTaggedBySection"
               class="de.quamoco.qm.properties.ToolBasedInstrumentToolSection"
               id="de.quamoco.qm.properties.ToolBasedInstrumentToolSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.ToolBasedInstrument">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.TaggedElementTaggedBySection"
               class="de.quamoco.qm.properties.QIESLAggregationSpecificationSection"
               id="de.quamoco.qm.properties.QIESLAggregationSpecificationSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.QIESLAggregation">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.EntityConsistsOfDirectSection"
               class="de.quamoco.qm.properties.EntityQualityModelSection"
               id="de.quamoco.qm.properties.EntityQualityModelSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input type="de.quamoco.qm.Entity"/>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.TagUsedBySection"
               class="de.quamoco.qm.properties.TagQualityModelSection"
               id="de.quamoco.qm.properties.TagQualityModelSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input type="de.quamoco.qm.Tag"/>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.EvaluationQualityModelSection"
               id="de.quamoco.qm.properties.EvaluationQualityModelSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.Evaluation">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.MeasurementMethodQualityModelSection"
               id="de.quamoco.qm.properties.MeasurementMethodQualityModelSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.MeasurementMethod">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.FactorInfluencedByDirectSection"
               class="de.quamoco.qm.properties.FactorQualityModelSection"
               id="de.quamoco.qm.properties.FactorBaseQualityModelSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input type="de.quamoco.qm.Factor"/>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.MeasureMeasuresDirectSection"
               class="de.quamoco.qm.properties.MeasureQualityModelSection"
               id="de.quamoco.qm.properties.MeasureBaseQualityModelSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input type="de.quamoco.qm.Measure"/>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.ToolBasedInstrumentToolSection"
               class="de.quamoco.qm.properties.ToolBasedInstrumentMetricSection"
               id="de.quamoco.qm.properties.ToolBasedInstrumentMetricSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input type="de.quamoco.qm.ToolBasedInstrument"/>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.DescribedElementDescriptionSection"
               class="de.quamoco.qm.properties.MeasureTypeSection"
               id="de.quamoco.qm.properties.MeasureTypeSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.Measure">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.DescribedElementDescriptionSection"
               class="de.quamoco.qm.properties.ToolQualityModelSection"
               id="de.quamoco.qm.properties.ToolQualityModelSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.Tool">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.DescribedElementDescriptionSection"
               class="de.quamoco.qm.properties.SourceQualityModelSection"
               id="de.quamoco.qm.properties.SourceQualityModelSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.Source">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.IdentifierPropertiesSection"
               class="de.quamoco.qm.properties.QualityModelElementQualifiedNameSection"
               id="de.quamoco.qm.properties.QualityModelElementQualifiedNameSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.QualityModelElement">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.DescribedElementDescriptionSection"
               class="de.quamoco.qm.properties.QualityModelRequiresSection"
               id="de.quamoco.qm.properties.QualityModelRequiresSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.QualityModel">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.DescribedElementDescriptionSection"
               class="de.quamoco.qm.properties.EvaluationMaximumPointsSection"
               id="de.quamoco.qm.properties.EvaluationMaximumPointsSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.Evaluation">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.MeasurementMethodDeterminesSection"
               id="de.quamoco.qm.properties.MeasurementMethodDeterminesSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.MeasurementMethod">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.EvaluationEvaluatesSection"
               id="de.quamoco.qm.properties.EvaluationEvaluatesSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.Evaluation">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.DescribedElementDescriptionSection"
               class="de.quamoco.qm.properties.EvaluationCompletenessSection"
               id="de.quamoco.qm.properties.EvaluationCompletenessSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.Evaluation">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.FactorBaseQualityModelSection"
               class="de.quamoco.qm.properties.FactorCompletenessSection"
               id="de.quamoco.qm.properties.FactorCompletenessSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.Factor">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.QualityModelRequiresSection"
               class="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary2Section"
               id="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary2"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.QualityModel">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary2"
               class="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary3Section"
               id="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary3"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.QualityModel">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary3"
               class="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary4Section"
               id="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary4"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.QualityModel">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary4"
               class="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary5Section"
               id="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary5"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.QualityModel">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary5"
               class="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary6Section"
               id="de.quamoco.qm.properties.QualityModelSchoolGradeBoundary6"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.QualityModel">
            </input>
         </propertySection>
      </propertySections>
   </extension>	

   
      <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="de.quamoco.qm.presentation.QmEditorID">
         <propertySection
               afterSection="de.quamoco.qm.properties.EntityCharacterizedBySection"
               class="de.quamoco.qm.properties.EntityIsADirectSection"
               id="de.quamoco.qm.properties.EntityIsADirectSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input type="de.quamoco.qm.Entity"/>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.EntityIsADirectSection"
               class="de.quamoco.qm.properties.EntitySpecializedByDirectSection"
               id="de.quamoco.qm.properties.EntitySpecializedByDirectSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input type="de.quamoco.qm.Entity"/>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.EntitySpecializedByDirectSection"
               class="de.quamoco.qm.properties.EntityPartOfDirectSection"
               id="de.quamoco.qm.properties.EntityPartOfDirectSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input type="de.quamoco.qm.Entity"/>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.EntityPartOfDirectSection"
               class="de.quamoco.qm.properties.EntityConsistsOfDirectSection"
               id="de.quamoco.qm.properties.EntityConsistsOfDirectSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input type="de.quamoco.qm.Entity"/>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.TaggedElementTaggedBySection"
               class="de.quamoco.qm.properties.FactorRefinementChildSection"
               id="de.quamoco.qm.properties.FactorRefinementChildSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input type="de.quamoco.qm.FactorRefinement"/>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.FactorRefinedByDirectSection"
               class="de.quamoco.qm.properties.FactorRefinesDirectSection"
               id="de.quamoco.qm.properties.FactorRefinesDirectSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.Factor">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.FactorRefinesSection"
               class="de.quamoco.qm.properties.FactorRefinedByDirectSection"
               id="de.quamoco.qm.properties.FactorRefinedByDirectSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.Factor">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.FactorRefinementParentSection"
               id="de.quamoco.qm.properties.FactorRefinementParentSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.FactorRefinement">
            </input>
         </propertySection>
         <propertySection
               afterSection="de.quamoco.qm.properties.NamedElementNameSection"
               class="de.quamoco.qm.properties.CharacterizingElementCharacterizesSection"
               id="de.quamoco.qm.properties.CharacterizingElementCharacterizesSection"
               tab="de.quamoco.qm.properties.PropertiesTab">
            <input
                  type="de.quamoco.qm.CharacterizingElement">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.MeasurementParentSection"
               id="de.quamoco.qm.properties.MeasurementParentSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.Measurement">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.MeasurementChildSection"
               id="de.quamoco.qm.properties.MeasurementChildSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.Measurement">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.SpecializationParentSection"
               id="de.quamoco.qm.properties.SpecializationParentSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.Specialization">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.SpecializationChildSection"
               id="de.quamoco.qm.properties.SpecializationChildSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.Specialization">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.DecompositionParentSection"
               id="de.quamoco.qm.properties.DecompositionParentSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.Decomposition">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.DecompositionChildSection"
               id="de.quamoco.qm.properties.DecompositionChildSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.Decomposition">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.MeasureRefinementParentSection"
               id="de.quamoco.qm.properties.MeasureRefinementParentSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.MeasureRefinement">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.MeasureRefinementChildSection"
               id="de.quamoco.qm.properties.MeasureRefinementChildSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.MeasureRefinement">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.MeasureRefinesDirectSection"
               id="de.quamoco.qm.properties.MeasureBaseRefinesDirectSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.Measure">
            </input>
         </propertySection>
         <propertySection
               class="de.quamoco.qm.properties.MeasureRefinedByDirectSection"
               id="de.quamoco.qm.properties.MeasureBaseRefinedByDirectSection"
               tab="de.quamoco.qm.properties.HierarchyTab">
            <input
                  type="de.quamoco.qm.Measure">
            </input>
         </propertySection>
      </propertySections>
   </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="de.quamoco.qm.presentation.QmEditorID">
            <propertySection
                  afterSection="de.quamoco.qm.properties.NamedElementNameSection"
                  class="de.quamoco.qm.properties.EntityCharacterizedBySection"
                  id="de.quamoco.qm.properties.EntityCharacterizedBySection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Entity">
               </input>
            </propertySection>
            <propertySection
                  afterSection="de.quamoco.qm.properties.TaggedElementTaggedBySection"
                  class="de.quamoco.qm.properties.ImpactTargetSection"
                  id="de.quamoco.qm.properties.ImpactTargetSection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Impact">
               </input>
            </propertySection>
            <propertySection
                  afterSection="de.quamoco.qm.properties.NamedElementNameSection"
                  class="de.quamoco.qm.properties.TagUsedBySection"
                  id="de.quamoco.qm.properties.TagUsedBySection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Tag">
               </input>
            </propertySection>
            <propertySection
                  afterSection="de.quamoco.qm.properties.FactorCharacterizesSection"
                  class="de.quamoco.qm.properties.FactorMeasuredByDirectSection"
                  id="de.quamoco.qm.properties.FactorMeasuredByDirectSection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Factor">
               </input>
            </propertySection>
            <propertySection
                  afterSection="de.quamoco.qm.properties.NamedElementNameSection"
                  class="de.quamoco.qm.properties.MeasureMeasuresDirectSection"
                  id="de.quamoco.qm.properties.MeasureMeasuresDirectSection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Measure">
               </input>
            </propertySection>
            <propertySection
                  afterSection="de.quamoco.qm.properties.FactorRefinesDirectSection"
                  class="de.quamoco.qm.properties.FactorInfluencesDirectSection"
                  id="de.quamoco.qm.properties.FactorInfluencesDirectSection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Factor">
               </input>
            </propertySection>
            <propertySection
                  afterSection="de.quamoco.qm.properties.FactorInfluencesDirectSection"
                  class="de.quamoco.qm.properties.FactorInfluencedByDirectSection"
                  id="de.quamoco.qm.properties.FactorInfluencedByDirectSection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Factor">
               </input>
            </propertySection>
            <propertySection
                  class="de.quamoco.qm.properties.ImpactSourceSection"
                  id="de.quamoco.qm.properties.ImpactSourceSection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Impact">
               </input>
            </propertySection>
            <propertySection
                  class="de.quamoco.qm.properties.SourceReferencedBySection"
                  id="de.quamoco.qm.properties.SourceReferencedBySection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Source">
               </input>
            </propertySection>
            <propertySection
                  class="de.quamoco.qm.properties.ToolInvokedBySection"
                  id="de.quamoco.qm.properties.ToolInvokedBySection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Tool">
               </input>
            </propertySection>
            <propertySection
                  class="de.quamoco.qm.properties.QualityModelElementOriginatesFromSection"
                  id="de.quamoco.qm.properties.QualityModelElementOriginatesFromSection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.QualityModelElement">
               </input>
            </propertySection>
            <propertySection
                  class="de.quamoco.qm.properties.FactorEvaluatedBySection"
                  id="de.quamoco.qm.properties.FactorEvaluatedBySection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Factor">
               </input>
            </propertySection>
            <propertySection
                  class="de.quamoco.qm.properties.MeasureDeterminedBySection"
                  id="de.quamoco.qm.properties.MeasureDeterminedBySection"
                  tab="de.quamoco.qm.properties.ReferencesTab">
               <input
                     type="de.quamoco.qm.Measure">
               </input>
            </propertySection>
         </propertySections>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="de.quamoco.qm.presentation.QmEditorID">
            <propertySection
                  class="de.quamoco.qm.properties.AnnotatedElementAnnotationsSection"
                  id="de.quamoco.qm.properties.AnnotatedElementAnnotationsSection"
                  tab="de.quamoco.qm.properties.AnnotationsTab">
               <input
                     type="de.quamoco.qm.AnnotatedElement">
               </input>
            </propertySection>
            <propertySection
                  class="de.quamoco.qm.properties.TaggedElementTaggedBySection"
                  id="de.quamoco.qm.properties.TaggedElementTaggedBySection"
                  tab="de.quamoco.qm.properties.AnnotationsTab">
               <input
                     type="de.quamoco.qm.TaggedElement">
               </input>
            </propertySection>
         </propertySections>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="de.quamoco.qm.presentation.QmEditorID">
            <propertySection
                  class="edu.tum.cs.emf.commons.sections.OriginalPropertySection"
                  id="de.quamoco.qm.properties.OriginalPropertySection"
                  tab="de.quamoco.qm.properties.AdvancedTab">
               <input
                     type="org.eclipse.emf.ecore.EObject">
               </input>
            </propertySection>
         </propertySections>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="de.quamoco.qm.presentation.QmEditorID">
            <propertySection
                  class="de.quamoco.qm.properties.EvaluationResultPropertySection"
                  id="de.quamoco.qm.properties.EvaluationResultPropertySection"
                  tab="de.quamoco.qm.properties.resultTab">
               <input
                     type="de.quamoco.qm.Evaluation">
               </input>
            </propertySection>
            <propertySection
                  class="de.quamoco.qm.properties.MeasurementMethodResultPropertySection"
                  id="de.quamoco.qm.properties.MeasurementMethodResultPropertySection"
                  tab="de.quamoco.qm.properties.resultTab">
               <input
                     type="de.quamoco.qm.MeasurementMethod">
               </input>
            </propertySection>
            <propertySection
                  class="de.quamoco.qm.properties.FindingsMeasurementResultPropertySection"
                  id="de.quamoco.qm.properties.FindingsMeasurementResultPropertySection"
                  tab="de.quamoco.qm.properties.PropertiesTab">
               <input
                     type="de.quamoco.qm.FindingsMeasurementResult">
               </input>
            </propertySection>
         </propertySections>
      </extension>
</plugin>
